*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}
body{
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
section{
    width: 90%;
    height: 90vh;
    margin:40px auto;
    border-radius: 18px;
    -webkit-box-shadow: -2px -1px 15px 7px rgba(0,0,0,0.5);
    -moz-box-shadow: -3px -2px 30px 14px rgba(0,0,0,0.425);
    box-shadow: -4px -3px 45px 21px rgba(0,0,0,0.35);
    font-family: 'Roboto', sans-serif;
    
    
}